@charset "UTF-8";
.bb-icon-user{
  background: url("../img/menu_icons.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-position:0px 0px;
  width: 25px;
  height: 25px;
}
.bb-icon-work{
  background: url("../img/menu_icons.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-position:-54px -28px;
  width: 25px;
  height: 25px;
}
.bb-icon-articl{
  background: url("../img/menu_icons.png");
  background-repeat: no-repeat;
  display: inline-block;
  vertical-align: middle;
  background-position:-26px -24px;
  width: 25px;
  height: 25px;
}

